In [1]:
%load_ext autoreload
%autoreload 2

In [10]:
import erk

In [3]:
1

1

In [7]:
import pandas as pd

In [9]:
erk.drawdown

In [29]:
ffme_re = erk.get_ffme_returns()

In [31]:
ffme_re.head()

         SmallCap  LargeCap
Period
1926-07     -1.45      3.29
1926-08      5.12      3.70
1926-09      0.93      0.67
1926-10     -4.84     -2.43
1926-11     -0.78      2.70

In [45]:
returns  = erk.get_ffme_returns()

In [48]:
drawdowns = erk.drawdown(returns["SmallCap"])

In [51]:
drawdowns["2009"].head()

               Wealth  Previous Peak  DrawDown
Period
2009-01  5.394517e+08   1.300822e+09 -0.585299
2009-02  4.797344e+08   1.300822e+09 -0.631207
2009-03  5.387897e+08   1.300822e+09 -0.585808
2009-04  6.450929e+08   1.300822e+09 -0.504088
2009-05  7.334706e+08   1.300822e+09 -0.436148

In [50]:
drawdowns.min()

Wealth           491.240323
Previous Peak    985.500000
DrawDown          -0.833001
dtype: float64